{
  "github": {
    "token": "<YOUR_GITHUB_TOKEN>",
    "username": "<YOUR_GITHUB_USERNAME>",
    "user_name": "<YOUR_GIT_USER_NAME>",
    "user_email": "<YOUR_GIT_USER_EMAIL>",
    "default_branch": "main"
  }
}
